<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Components</title>
</head>
<body>

    <div id="root">

        <h1 v-model="message">{{ reversedMessage }}</h1>

        <h1>All Tasks</h1>

        <task>Go to the store</task>
        <task>Go to the office</task>
        <task>Come back home</task>


        <hr>

        <task-list></task-list>

    </div>
    
    <script src="https://unpkg.com/vue@2.6.10/dist/vue.js"></script>
    <script src="main.js"></script>
</body>
</html>